html {
    scroll-behavior: smooth;
}

.Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    /* margin-bottom: 140px; */
}

.about-section {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 100%;
    padding: 100px 20px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-bottom: 100px; */
}

.about-section h2 {
    font-size: 2.5rem;
    margin-top: 20px ;
    margin-left: 34px;
    letter-spacing: 2.2px;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 160px;
    flex-wrap: wrap;
    padding: 20px;
    /* letter-spacing: 2px; */
}

.about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-text {
    max-width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* letter-spacing: 1.2px; */
}

.about-text h3 {
    font-size: 1.9rem;
    color: #494747;
    letter-spacing: 1.2px;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #818080;
    letter-spacing: 1.01px;
    margin-bottom: 20px;
}

.download-btn {
    padding: 10px 20px;
    background-color: #6e2762;
    color: white;
    letter-spacing: 1.5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #4e0943;
}

.education-section {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 100%;
    padding: 60px 20px;
    background-color: #e8f0e5;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    align-items: center;
}

.education-section h2 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.education-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    flex-wrap: wrap;
    padding: 10px;
}

/* .education-image img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
} */

.education-text {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: space-between;
    /* max-width: 600px; */
    width: 80%;
    text-align: left;
}

.education-text h3 {
    font-size: 1.9rem;
    color: #494747;
}

.education-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #6d6b6b;
}
@media (min-width:768px) and (max-width:900px) {
    .about-section {
        align-items: flex-start;
    }
    
    .about-content {
        flex-direction: column;
        gap: 20px;
        align-items: start; 
    }
    
    .about-section h2 {
        /* margin-bottom: 20px; */
        text-align: left; 
        width: 100%; 
    }
    .education-text{
        gap: 70px;
    }
}
@media (max-width: 768px) {
    .about-content {
        /* flex-direction: column; */
        gap: 20px;
        /* align-items: start;  */
    }

    .about-image img {
        width: 150px;
        height: 150px;
    }
    .about-text p{
        font-size: 1rem;
        letter-spacing: 1.2px;
    }
    .about-text,
    .education-text {
        font-size: 1rem;
        text-align: center;
    }
    
    .about-section h2,
    .education-section h2 {
        font-size: 2rem;
    }
    .education-text {
        gap: 100px;
        text-align: start;
    }
    .education-text h3{
        font-size: 1.5rem;
        margin-bottom: 10px;
        letter-spacing: 1.2px;
        font-weight: 600;
    }
    .education-text p{
        font-size: 1rem;
        letter-spacing: 1.2px;
    }
}

@media (max-width: 480px) {
    .about-content {
        flex-direction: column;
        /* gap: 30px; */
        align-items: start;
        gap: 0px;
    }

    .about-image img {
        width: 140px;
    }

    .about-text h3,
    .education-text h3 {
        font-size: 1.5rem;
    }

    .about-text p,
    .education-text p {
        font-size: 0.9rem;
    }
}
