.contact-container{ 
  font-family:'Times New Roman', Times, serif;
  width: 100%;
  height: 50vh;
  background-color: aqua;
  padding-top: 40px;
  padding-bottom: 120px;
  font-family: 'Maitree';
  width: 100%;
  border-radius: 10px;
  height: auto;
  background-color: #f5f1f1;
  margin: 0 auto; 
  margin-bottom: 100px;
  color: rgb(43, 41, 41);
  text-align: center;
}

.contact-container h2 {
  font-size: 2rem; 
  color: #413c3c;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

/*      ##########  Animation on h2 text  #########  */
/* .animate__slideInLeft {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-delay: 0s;
} */


.Links-container {
  margin-top: 20px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 2px;
  padding: 16px;
  height: 100%;
  border: 3px solid #FFD700; 
  border-radius: 50%;
  transition: all 0.3s ease;
}

.link-icon {
  width: 40px;
  border-radius: 15px;
  height: 40px;
}

.link:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.link-name {
  color: rgb(129, 128, 128);
  font-size: 1.1rem;
  font-weight: 600;
  /* padding: 10px; */
}


/* Call and Email Section */
.call-email {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  /* margin-left: 100px; */
}

.call-item, .email-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.call-email-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.call-email-icon:hover {
  transform: scale(1.1);
}

.call-email-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(70, 70, 70);
}